{% extends 'base/main.html' %}
{% load static %}

{% block title %}Todo App: Edit User Profile{% endblock title %}

{% block content %}

    <head>
        <link rel="stylesheet" href="{% static 'accounts/css/login_register.css' %}">
    </head>

    <div class="container-fluid">

        <div class="signin-container d-md-flex">


            <div class="mt-5 mb-5 logo-container">
                <div class="svg-image mt-5">
                    <img class="img-fluid" src="{% static 'accounts/undraw/userProfile.svg' %}" alt="brand image">
                </div>
            </div>


            <div class="p-md-2">
            </div>


            <div class="form-container m-md-5 mx-auto">

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                <form action="" method="post">
                    {% csrf_token %}


                    {% comment %} changing password by typing in old password {% endcomment %}
                    {% if not email_reset_link_success %}
                        <h1 class="title">{{userProfile.username.upper}}'S PROFILE</h1>

                        <div class="input-field">
                            <label for="username">Old Password</label>
                            <input type="password" name="old_password" placeholder=" ********** " class="form-control" required autocomplete="new-password">
                        </div>

                    
                    {% comment %} resetting password via email {% endcomment %}
                    {% else %}
                        <h1 class="title">RESET YOUR PASSWORD</h1>
                    {% endif %}


                    <div class="input-field">
                        <label for="username">New Password</label>
                        <input type="password" name="password1" class="form-control" required autocomplete="new-password">
                    </div>


                    <div class="input-field">
                        <label for="username">Confirm Password</label>
                        <input type="password" name="password2" class="form-control" required autocomplete="new-password">
                    </div>

                    <div class="input-field">
                        <input type="submit" value="Change Password" class="btn bg-danger text-light form-control">
                    </div>


            

                    {% comment %} for editing password {% endcomment %}
                    <div class="input-field">
                        <a href="{% url 'editUserNameOrEmail' %}" class="btn bg-primary text-light form-control mt-3">Change Username or Email</a>
                    </div>


                </form>


            </div>

        </div>
    </div>



{% endblock content %}