{% extends 'base/main.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    <div class="container-md my-5">

        <h1>Forgot your password?</h1>
        
        <h4 class="mt-4">Enter your email address below, and we'll email instructions for setting a new one.</h4>

        <form method="POST" class="mt-4">
            {% csrf_token %}

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


            <div class="input-field">
                <label for="reset_email">Email</label>
                <input type="email" name="reset_email" id="id_email" class="form-control"  required autocomplete="new-password" />
            </div>

            <input type="submit" class="mt-4 btn btn-lg bg-success text-light" value="Reset My Password">
        </form>

    </div>
{% endblock %}