{% extends 'base/main.html' %}
{% load static %}

{% block title %}Todo App: Register New Account{% endblock title %}


{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'accounts/css/login_register.css' %}">
    </head>

    <div class="container-fluid">
        
        <div class="signin-container d-md-flex">

            <div class="mt-5 mb-5 logo-container">
                {% comment %} <h1 class="title"><a href="#">Register</a></h1> {% endcomment %}

                <div class="svg-image mt-5">
                    <img class="img-fluid"src="{% static 'accounts/undraw/register.svg' %}" alt="brand image">
                </div>
            </div>
            
            <div class="p-md-2 ">
            </div>

            <div class="form-container m-md-5 mx-auto">
                <form action="" method="post">
                    {% csrf_token %}
                    <h1 class="title"><a href="#">Sign Up</a></h1>


                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}


                    <div class="input-field">
                        <label for="user_login">Username</label>
                        {{registrationForm.username}}
                    </div>

                    <div class="input-field">
                        <label for="user_email">Email</label>
                        {{registrationForm.email}}
                    </div>
                    
                    <div class="input-field">
                        <label for="user_password">Password</label>
                        {{registrationForm.password1}}

                    </div>
                    
                    <div class="input-field">
                        <label for="user_password">Confirm password</label>
                        {{registrationForm.password2}}
                    </div>
                    
                    <div class="submit-container input-field">
                        <button name="button" type="submit" class="btn bg-primary text-light">Register</button>
                    </div>

                    <br>
                    Already have an account?
                    <div class="input-field">
                        <a href="{% url 'login' %}" class="btn bg-success text-light form-control">Login</a> 
                    </div>

                </form> 
            </div>
            
        </div>
    </div>

{% endblock content %}

