table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #ccc;
}

.completed {
    background-color: green;
}

.input-field {
    margin-top: 1rem;
    margin-bottom: 1rem;
}