{% extends 'base/main.html' %}

{% load static %}

{% block title %}Todo App: Create And Manage your Tasks{% endblock title %}

{% block content %}
    
    <div class="my-5 container-md">

        <head>
            <link rel="stylesheet" href="{% static 'todo_app/css/view_tasks.css' %}">
        </head>

        
        {% if page == 'viewTasks' %}
            <h1>TODO APP HOMEPAGE</h1>
        {% else%}
            <h1>TODO APP TASKS</h1>
        {% endif %}
            
       
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %} > {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}


        <ol>
            {% for task in todoTask %}

                <li class="mt-3">

                    {% if task.completed %}

                        {{ task.title }} ( Due: <b class="text-danger">{{task.due_datetime}} </b>completed: <b class = "text-primary">{{task.completed_on_datetime}}</b> )
                        <div class="mt-2"></div>
                        
                        <a class="btn btn-outline-light bg-secondary" href="">Task completed {{task.completed_on_datetime|timesince}} ago</a>
                        <a class="btn btn-outline-light bg-success" href="{% url 'updateTask' task.id %}">Update</a>
                        <a class="btn btn-outline-light bg-danger" href="{% url 'deleteTask' task.id %}">Delete</a>
                        <hr>

                    {% else %}

                        {{ task.title }} ( Due:  <a class = "text-danger">{{task.due_datetime}}</a> )
                        <div class="mt-2"></div>
                                               
                        Due in {{task.due_datetime|timeuntil}}
                        <a class="btn btn-outline-light bg-primary" href="{% url 'completeTask' task.id %}">Mark As Complete</a>
                        <a class="btn btn-outline-light bg-success" href="{% url 'updateTask' task.id %}">Update</a>
                        <a class="btn btn-outline-light bg-danger" href="{% url 'deleteTask' task.id %}">Delete</a>                   
                        <hr>

                    {% endif %} 

                </li>

            {% empty %}
                <li>No items added yet? Click here to add tasks <a href="{% url 'createTask' %}" class="btn btn-outline-light bg-success">Create Task</a></li>
            {% endfor %}

        </ol>

    </div>


{% endblock content %}
